<div class="header-container">
  <ul class="nav-list">
    <li class="active"><a href="./index.html">Home</a> </li>
    <li><a href="./config.html">Config</a> </li>
    <li><a href="./effects.html">Effects</a> </li>
  </ul>

</div>
