.flex {
  display: flex;
}

html {
  min-height: 100%;

  .main-content {
    max-width: 100%;
    padding: 20px;

    section {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      .row {
        padding: 5px 15px;
      }
    }
  }
}

ul {
  list-style: none;
}
