.header-container {
  width: 100%;

  ul {
    display: flex;
    flex-direction: row;

    list-style: none;

    li {
      padding: 10px 20px;
      border: solid 1px black;

      &.active {
        background-color: grey;
      }
    }
  }
}
