


<% include src/layout/partial/_layout %>



<h1>Effects</h1>

<% color = 'red' %>

<div class="main-content">
  <section class="effect" id="signfire">
    <h2>SIGN FIRE</h2>
    <div class="row secondary-controls">
      <h3>Pilots</h3>
      <ul class="pilots"></ul>
      <h3>Ignitors</h3>
      <ul class="ignitors"></ul>
    </div>
    <div class="row primary-controls">
      <h3>Outlets</h3>
      <div class="outlet-container">
        <ul class="outlets">
        </ul>
      </div>
    </div>
  </section>

  <section class="effect" id="eyefire">
    <h2>EYE FIRE</h2>
    <div class="row secondary-controls">
      <h3>Pilots</h3>
      <ul class="pilots">
        <li>
          <span class="switch-label">Left</span>
          <label class="switch">

            <input type="checkbox"><span class="slider round"></span></input>
          </label>
        </li>
        <li>
          <span class="switch-label">Right</span>
          <label class="switch">

            <input type="checkbox">
              <span class="slider round"></span>
            </input>
          </label>
        </li>

      </ul>
      <h3>Ignitors</h3>
      <ul class="ignitors">

        <li>
          <span class="switch-label">Left</span>
          <label class="switch">
            <input type="checkbox">
              <span class="slider round"></span>
            </input>
          </label>
        </li>
        <li>
          <span class="switch-label">Right</span>
          <label class="switch">
            <input type="checkbox">
              <span class="slider round"></span>
            </input>
          </label>
        </li>
      </ul>
    </div>
    <div class="row primary-controls">
      <h3>Outlets</h3>
      <div class="outlet-container">
        <ul class="outlet-group ">
          <li><button type="button" data-outlet="left_dsv_0" name="outlet-1">1</button> </li>
          <li><button type="button" data-outlet="left_dsv_1" name="outlet-2">2</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-3">3</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-4">4</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-5">5</button> </li>
        </ul>
        <ul class="outlet-group">
          <li><button type="button" data-outlet="left_bank_0" name="outlet-1">1</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-2">2</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-3">3</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-4">4</button> </li>
          <li><button type="button" data-outlet="left_bank_0" name="outlet-5">5</button> </li>
        </ul>
      </div>
    </div>
  </section>
</div>
